header{
    min-height: 10vh;
    
    
}

main{
    min-height: 80vh;

}
   
.slide img{
    height: 35vh;
}

#Imag1Carrusel{
   object-fit: cover; 
}




h1{
    text-shadow: 5px 5px 0 gray;
}

.BotonesDetails{
    background-color: #ff0066;
    color: white;
}

.TituloDetails{
    color: white;
}
.Formulario{
font-size: x-large;
color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.BotonSbmit{
    background-color: #ff0066;
    color: white;

}

.tablaStats{
    width: 80vw;
    border: #ff0066 2px solid;
    font-size: 1.5rem;
    

}
th,td{
    border: #ff0066 2px solid;
    height: 2rem;
}



footer{
    min-height: 10vh;
}